
<!DOCTYPE html>
<html lang="en-us">
		{% include head.html %}
	<body>
		{% include navbar.html %}
    <div class="tabs is-centered">
      <ul>
        <li><a>Abbotsford</a></li>
        <li><a>Calgary</a></li>
        <li><a>Edmonton</a></li>
        <li><a>Hamilton</a></li>
        <li><a>Maple Creek</a></li>
        <li><a>Montreal</a></li>
        <li><a>Mossley</a></li>
        <li><a>Regina</a></li>
        <li><a>Stonewall</a></li>
      </ul>
    </div>
    {{ content }}
		</div>
		{% include footer.html %}
	</body>
</html>
